# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
venv311/
backend/venv/
backend/venv311/

# AI Models
*.pt
*.pth
*.onnx

# Node
node_modules/

# Environment
.env
frontend/.env
backend/.env

# Build
dist/