# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
venv/
venv311/

# Database
*.db

# Audio
*.wav
*.mp3

# Uploads
uploads/
temp/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store